/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* logo colors */
    --c-logo01: #009688;
    --c-logo02: #dadbd3;

    /* main colors */
    --c-selected: #E9EBEB;
    --c-bg-top: #EAEAEA;
    --c-bg-app: #FFFFFF;
    --c-bg-chat: url(../img/mine.jpg);
    --c-bg-sendbox: #f8efe5;

    /* text colors */
    --c-text_main: #333;
    --c-text_second: #949494;

    /* events color */
    --c-notify: #8EDAFC;
    --c-sent: #D5F9BA;
    --c-recieve: #FFFFFF;

    /* borders */
    --border-thin: 1px solid #ddd;
}

/* common */
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100%;
    background: var(--c-logo01);
    background: linear-gradient(180deg, var(--c-logo01) 15%, var(--c-logo02) 15%);

    display: flex;
    align-items: center;
    justify-content: center;
}


/* typo */
h2{
    font-size: 18px;
    font-weight: 700;
    color: var(--c-text_main);
}
h3{
    font-size: 16px;
    font-weight: 700;
    color: var(--c-text_second);
}
h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text_main);
    text-decoration: underline;
}

/* APP */
.app {
    background-color: var(--c-bg-app);
    width: 1800px;
    max-width: 1800px;
    height: 90vh;

    box-shadow: 0px 0px 10px -8px rgba(0,0,0,0.75);

    display: flex;
}

.app-left, .app-right{
    display: flex;
    flex-direction: column;
}

.app-left{
    /* background-color: aqua; */
    height: 100%;
    width: 30%;
}

.app-right{
    /* background-color: brown; */
    height: 100%;
    width: 70%;
}

/* ------------------------- */
/* left & Right (common) */
.topbar{
    height: 80px;
    background-color: var(--c-bg-top);
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.topbar .icons-container{
    margin-left: auto;
}
.topbar .icons-container i{
    font-size: 25px;
    margin-left: 15px;
    color: var(--c-text_second);
    cursor: pointer;
}

.rnd-image{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.rnd-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* ------------------------- */
/* Only Left */
.app-left > *{
    border-right: 2px solid var(--c-logo02);
}

.activate-desktop-notify{
    height: 90px;
    background-color: var(--c-notify);
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.activate-desktop-notify .rnd-image{
    background-color: var(--c-bg-app);
    display: flex;
    align-items: center;
    justify-content: center;
}
.activate-desktop-notify .rnd-image i{
    color: var(--c-notify);
    font-size: 25px;
}

.search-bar{
    height: 60px;
    background-color: var(--c-bg-top);
    display: flex;
    padding: 10px;
}
.src-before{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-bg-app);
    padding: 0 30px;
    border-right: var(--border-thin);
    color: var(--c-text_second);
}
.search-bar input{
    flex-grow: 1;
    border: none;
    padding: 10px;
}

.contacts-list{
    background-color: var(--c-bg-app);
    flex-grow: 1;
    overflow-y: auto;
}
.contacts-list li{
    display: flex;
    align-items: center;
    padding: 15px;
}
.contacts-list li:not(:first-child){
    border-top: var(--border-thin);
}
.contacts-list li.active{
    background-color: rgb(204, 204, 204);
}

/* ------------------------- */
/* Only Right */
.sendbox{
    height: 80px;
    background-color: var(--c-bg-sendbox);
    display: flex;
    padding: 10px;
}

.sendbox div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    cursor: pointer;
    color: var(--c-text_second);
    font-size: 28px;
}
.sendbox input{
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

.messages-container{
    flex-grow: 1;
    background-image: var(--c-bg-chat);
    overflow-y: scroll;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

/* Messages */
.msg{
    min-width: 150px;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.msg.sent{
    background-color: var(--c-sent);
    align-self: flex-end;
}

.msg.received{
    background-color: var(--c-recieve);
    align-self: flex-start;
}

.msg p{
    font-size: 18px;
    margin-bottom: 5px;
}
.msg h6{
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    color: var(--c-text_second);
}

/* Section Emojii */
.emoji-trigger{
    position: relative;
}

#emoji_toggle{
    display: none;
}
#emoji_toggle:checked + label .addEmoji-box{
    display: flex;
}

.addEmoji-box{
    display: none;
    position: absolute;
    top: -220%;
    left: 45%;
    min-width: 350px;
    justify-content: space-between;
    background-color: var(--c-bg-sendbox);
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
}