<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Font-Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- //Font-Awesome -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="app" id="root">

<!-- Sezione di sinistra -->
        <section class="app-left">
            <!-- TopBar -->
            <div class="topbar">
                <div class="rnd-image">
                    <img src="img/avatar_io.jpg" alt="">
                </div>
                <div>
                    <h2>Nome Utente</h2>
                </div>
                <div class="icons-container">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- Avviso notifiche -->
            <div class="activate-desktop-notify">
                <div class="rnd-image">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div>
                    <h2>Ricevi notifiche di nuovi messaggi</h2>
                    <h4>Attiva notifiche desktop</h4>
                </div>
            </div>

            <!-- Barra di ricerca (left) -->
            <div class="search-bar">
                <div class="src-before">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" 
                    placeholder="Cerca o inizia una nuova chat"
                    v-model="search">
            </div>

            <!-- Lista contatti e chat iniziate -->
            <div class="contacts-list">
                <ul> 
                    <li v-for="(contact, i) in contacts"
                        :key="i" 
                        @click="chooseFriend(i)" 
                        :class="currentContact == i ? 'active' : null"
                        v-if="searchResult(i)">

                        <div class="rnd-image">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="foto contatto">
                        </div>
                        <h2>{{contact.name}}</h2>

                    </li>
                </ul>
            </div>
        </section>


<!-- Sezione di destra -->
        <section class="app-right">
            <!-- TopBar -->
            <div class="topbar">
                <div class="rnd-image">
                    <img :src="'img/avatar' + contacts[currentContact].avatar +'.jpg'" alt="foto contatto">
                </div>
                <div>
                    <h2>{{contacts[currentContact].name}}</h2>
                    <h3>Ultimo acceso oggi alle...</h3>
                </div>
                <div class="icons-container">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- Container Messaggi -->
            <div class="messages-container">
                <div v-for="(msg, i) in contacts[currentContact].messages" 
                    :key="i" 
                    class="msg" 
                    :class="contacts[currentContact].messages[i].status">

                    <p>{{msg.message}}</p>
                    <h6>{{msg.date}}</h6>
                </div>
            </div>

            <!-- Box scrittura messaggio -->
            <div class="sendbox">
                <div>
                    <input type="checkbox" id="emoji_toggle">
                    <label for="emoji_toggle">
                        <i class="far fa-smile emoji-trigger">
                            <span class="addEmoji-box">
                                <span @click="sendBoxInput += '😀'">😀</span>
                                <span @click="sendBoxInput += '😜'">😜</span>
                                <span @click="sendBoxInput += '🤬'">🤬</span>
                                <span @click="sendBoxInput += '😱'">😱</span>
                                <span @click="sendBoxInput += '😭'">😭</span>
                                <span @click="sendBoxInput += '🥳'">🥳</span>
                                <span @click="sendBoxInput += '👍'">👍</span>
                                <span @click="sendBoxInput += '🖖'">🖖</span>
                            </span>
                        </i>
                    </label>
                </div>

                <input type="text"
                placeholder="Scrivi un messaggio" 
                v-model="sendBoxInput"
                v-on:keyup.enter="sendMessage()">

                <div><i class="fas fa-microphone"></i></div>
            </div>
        </section>


    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>